version: '3'
services:
  zookeeper_catcher:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2182
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2182:2182"
    networks:
      - kafka_net

  kafka_catcher:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper_catcher
    ports:
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper_catcher:2182
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka_catcher:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kafka_net

  kafka-ui-catcher:
    image: provectuslabs/kafka-ui
    container_name: kafka-ui-catcher
    ports:
      - 8092:8080
    restart: always
    environment:
      - KAFKA_CLUSTERS_0_NAME=local-catcher
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka_catcher:9093
      - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper_catcher:2182
    networks:
      - kafka_net

  catcher:
    build:
      context: https://github.com/isatay012or02/kafka-diode-catcher.git
      dockerfile: Dockerfile
    environment:
      KAFKA_BROKER: kafka_catcher:9093
      UDP_IP: "127.0.0.1"
      UDP_PORT: 9999
    networks:
      - kafka_net
    restart: always

networks:
  kafka_net:
    driver: bridge
